*{
    margin: 0;
    padding: 0;
}
#text-center {
    margin-top: 20px;
    text-align: center;
    color:blue;

}
 
.main1{
    border:2px solid lightblue;
    margin:auto;
    width: 60%;
    padding:30px;
}

